{% comment %} 
    Load page-specific CSS files declaratively 
{% endcomment %}
{% if page.page_css %}
  <link rel="stylesheet" href="{{ '/assets/css/' | append: page.page_css | relative_url }}">
{% endif %}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">