<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Ardit Islami | Portfolio{% endif %}" />
<meta property="og:description" content="Tinkering with Systems. Steered by Maths." />

<meta property="og:image" content="https://ardit-islami.github.io/assets/images/website-teaser.png" />

{% assign resolved_page_css = page.page_css %}

{% if resolved_page_css == nil or resolved_page_css == "" %}
  {% case page.layout %}
    {% when "project-page" %}
      {% assign resolved_page_css = "project-single.css" %}
    {% when "case-study" %}
      {% assign resolved_page_css = "case-study.css" %}
    {% when "projects" %}
      {% assign resolved_page_css = "project.css" %}
    {% when "about" %}
      {% assign resolved_page_css = "about.css" %}
    {% when "sidebar-page" %}
      {% assign resolved_page_css = "homepage.css" %}
  {% endcase %}
{% endif %}

{% if resolved_page_css %}
  <link rel="stylesheet" href="{{ '/assets/css/' | append: resolved_page_css | relative_url }}">
{% endif %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
