<div class="info-block-container">
  <h4>Education</h4>
  {% for item in site.data.career.education %}
  <div class="info-block">
    <p>
      <strong>{{ item.org }}</strong><br>
      {{ item.title }} • <em>{{ item.date }}</em>
    </p>
  </div>
  {% endfor %}
</div>

<div class="info-block-container">
  <h4>Work Experience</h4>
  {% for item in site.data.career.work %}
  <div class="info-block work-block">
    
    <div class="ib-header">
      <strong>{{ item.title }}</strong>
      <span class="ib-date">{{ item.date }}</span>
    </div>

    <div class="ib-meta">
      <span class="ib-company">{{ item.company }}</span>
      <span class="ib-location">{{ item.location }}</span>
    </div>

    <p class="ib-details">
      {{ item.details }}
    </p>

  </div>
  {% endfor %}
</div>

<div class="info-block-container">
  <h4>Certificates (Ongoing)</h4>
  {% for item in site.data.career.certifications %}
  <div class="info-block">
    <p>
      <a href="{{ item.url }}" target="_blank"><strong>{{ item.title }}</strong></a><br>
      <em>{{ item.org }}</em>
    </p>
  </div>
  {% endfor %}
</div>