<aside class="sidebar">
  {% if site.author.avatar %}
  <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}" class="bio-photo">
  {% endif %}

  {% if site.author.name %}
  <h3>{{ site.author.name }}</h3>
  {% endif %}

  {% if site.author.bio %}
  <p>{{ site.author.bio }}</p>
  {% endif %}

  <div class="sidebar-contact-info">
    {% if site.author.location %}
      <div class="contact-item">
        <i class="fas fa-map-marker-alt fa-fw"></i> 
        <span>{{ site.author.location }}</span>
      </div>
    {% endif %}

    {% if site.author.email %}
      <a href="#" class="contact-item js-open-contact">
        <i class="fas fa-envelope fa-fw"></i> 
        <span>Email</span>
      </a>
    {% endif %}

    {% if site.author.linkedin %}
      <a href="https://linkedin.com/in/{{ site.author.linkedin }}" class="contact-item" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin fa-fw"></i> 
        <span>LinkedIn</span>
      </a>
    {% endif %}

    {% if site.author.github %}
      <a href="https://github.com/{{ site.author.github }}" class="contact-item" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github fa-fw"></i> 
        <span>GitHub</span>
      </a>
    {% endif %}
  </div>
</aside>