<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> COMMENT THIS IN LATER !!!! -->
    {% include head-custom.html %}
  </head>
  
  <body>
      <div id="header">
        <nav>
          <ul>
            <!-- <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li> -->
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
            {% endif %}
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper" style="width: 3000px;">

      <section>
        <div id="title" style="display:flex;">

          <div style="display: flex; flex-direction: column; width: 40%;">
            <div style="text-align: center;">
          <h1 style="text-align: center;">{{ site.title | default: site.github.repository_name }}</h1>
            </div>
            <div style="display: flex; justify-content: center; align-items: flex-end;">
          {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
          {% endif %}
            </div>
            <div style="display: flex; justify-content: center; align-items: start;">
              <p>{{ site.description | default: site.github.project_tagline }}</p>
            </div>
          </div>
          
          <div style="display: flex; justify-content: left; align-items: center; padding-left: 10px; width: 60%;">                                    <!-- style="padding-top: 200px; padding-left: 20px"> -->
          <!-- <p style="text-align: left;">{{ site.description | default: site.github.project_tagline }}</p> -->
          <p style="font-size: 16px; text-align: left;">
            This page is a collection of study notes, Data projects and many more Python scripts where I am tinkering and learning the language to a deeper level.<br>
            I will be using this portfolio to showcase all I have learnt and to catalogue my progress in Data and as a programmer with a primary focus in Python.<br><br>
            To find out more about me, please do refer to my LinkedIn where my CV is attached and do contact me for further enquiries. Test
          </p>
          
          
          
          </div>
          
          <!-- <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span> -->
          <!-- <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span> -->  
          
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
